body{
    background: #1FA2FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}


#formu{
    background: rgba(34, 66, 255, 0.3);
    opacity: 0,5;
    padding: 5rem;
    position: relative;
    margin-top: 3%;

    form{
        margin: 2rem auto;
        max-width: 30rem;
        label{
            color: white;
        }
        #btinicio{
        // margin-left: 40%;
            background: hsl(123, 100%, 32%);
        }
        a{
            color: white;
        }
        p{
            margin-left: 35%;
        }
  }
}



#formu2{
    background: rgba(34, 66, 255, 0.3);
    opacity: 0,5;
    padding: 5rem;
    position:fixed;
    top: 80px;
    z-index: 1;
    display: none;
    width: 50%;
    form{
        margin: 2rem auto;
        max-width: 30rem;
        #btinicio{
            background: hsl(123, 100%, 32%);
        }
        a{
            color: white;
        }
        p{
            margin-left: 30%;
        }
    }
}

#perfil:hover #formu2{
    display: block;
}

#cesta{
    width: 550px;
    height: 300px;
    position:fixed; 
    right: 26px;
    top: 90px;
    padding-top: 1%;
    z-index: 1;
    /*display: none;*/
    background: linear-gradient(to right, #dce35b, #45b649);
    opacity: 0,5; 
    overflow-y: scroll;
    border-radius: 10px;
    
}





/* #carrito:hover #cesta{
    display: block;
}*/

#switch{
    background: rgb(4, 4, 126);
    border-radius: 1000px;
    border: none;
    position: relative;
    display: flex;
    outline: none;
    &::after{
        
        display: block;
        position: absolute;
        background: white;
       width: 25px;
       height: 30px;
        top: 0;
        left: 0;
        right: unset;
        border-radius: 100px;
        transition: 3s ease all;
        box-shadow: 0px 0px 2px 2px rgb(14, 4, 4);
    }
    span{
        display: block;
        background: none;
        width: 25px;
        height: 30px;
        line-height: 20px;
        color: white;
    }

}

.card{
    overflow: hidden;
    .card-img-top:hover{
    transform: scale(1.1);
    transition:all 1s ease-out;
}
}



.nav-link:hover{
    background: hsl(123, 100%, 32%);
    transition:all 1s ease-out;
}

.nav-item:hover ul{
    display: block;
}

.nav-item{
    li:hover{
        background: hsl(123, 100%, 32%);
        transition:all 1s ease-out;
    }
}

.dropdown-item:hover{
    background: hsl(123, 100%, 32%);
    transition:all 1s ease-out;
}

h1{
    color:blue;
}

#botonUP{
    z-index: 5;
    opacity: 0,5;
}